/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* common styles or utilities*/
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #F3F1FF;
}

main {
    display: flex;
    justify-content: center;
}

.container {
    background-color: #FFFFFF;
    width: 870px;
    padding: 30px;
}

hr {
    border: 1px solid #D1D1D1;
}

/* top player styles */
.top-player {
    margin-bottom: 26px;
}

.section-title {
    color: #562EFF;
    font-size: 24px;
    margin-bottom: 30px;
}

.player {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 30px;
}

.player-info {
    display: flex;
    align-items: center;
}

.player-info img {
    width: 56px;
    height: 56px;
}

.player-name {
    margin-left: 16px;
    font-size: 18px;
}

/* top blog styles */
.top-blog {
    margin-top: 30px;
}

.blog {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 26px;
}

.blog-content {
    display: flex;
}

.thumbnail img {
    width: 177px;
    height: 117px;
}

.blog-info {
    margin-left: 16px;
}

.blog-title {
    font-size: 20px;
}

.blog-author {
    font-size: 16px;
    color: #9F9F9F;
}

.blog-author a {
    text-decoration: none;
    color: #562EFF;
    font-size: 16px;
}